{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/stylelogin.css' %}">
  <title>Login</title>
  <style>
    .gradient-custom {
      background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgb(166, 76, 85, 1))
    }
  </style>
</head>

<body>
  <section class="vh-100" style="background-color: #f4f5f7;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-6 mb-4 mb-lg-0">
          <div class="card mb-3" style="border-radius: .5rem;">
            <div class="row g-0">
              <div class="col-md-4 gradient-custom text-center text-white"
                style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                <img src="{% static 'des/userava.png' %}"
                  alt="Avatar" class="img-fluid my-5" style="width: 80px;" />
                <h5>Họ tên</h5>
                <p>username</p>
                <i class="far fa-edit mb-5"></i>
              </div>
              <div class="col-md-8">
                <div class="card-body p-4">
                  <h6>Thông tin</h6>
                  <hr class="mt-0 mb-4">
                  <div class="row pt-1">
                    <div class="col-6 mb-3">
                      <h6>Email</h6>
                      <p class="text-muted">meo meo</p>
                    </div>
                    <div class="col-6 mb-3">
                      <h6>Số điện thoại</h6>
                      <p class="text-muted">xxxxxxxxxx</p>
                    </div>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Ngày sinh</h6>
                    <p class="text-muted">xx-xx-xxxx</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Địa chỉ</h6>
                    <p class="text-muted">Sao hoả :)</p>
                  </div>
                </div>
    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

</body>

</html>