{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/styleregister.css' %}">
  <title>Đăng ký</title>

</head>

<body>
  <div class="main">
    <form action="." method="POST" class="form" id="form-1">
      {% csrf_token %}

      <h1>Đăng ký</h1>
      <div class="spacer"></div>

      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}

      {% if form.errors %}
      {% for field in form %}
      {% for error in field.errors %}
      <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
      </div>
      {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
      <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
      </div>
      {% endfor %}
      {% endif %}

      <div class="form-group">
        <label for="username" class="form-label">{{form.username.label}}</label>
        {{form.username}}
        <span class="form-message"></span>
      </div>

      <div class="form-group">
        <label for="email" class="form-label">{{form.email.label}}</label>
        {{form.email}}
        <span class="form-message"></span>
      </div>

      <div class="form-group">
        <label for="password" class="form-label">{{form.password1.label}}</label>
        {{form.password1}}
        <span class="form-message"></span>
      </div>

      <div class="form-group">
        <label for="password_confirmation" class="form-label">{{form.password2.label}}</label>
        {{form.password2}}
        <span class="form-message"></span>
      </div>
      <input type="submit" value="Đăng ký" class="form-submit" />

      <div class="login_link">
        Đã có tài khoản? <a href="/login">Đăng nhập</a>
      </div>
    </form>
  </div>
</body>

</html>